.schedule_date {
	text-indent: 2em;
	margin-top: 8px;
}

h1 {
	font-size: 110%;
}

h1 > strong {
	font-size: 115%;
}

h2 {
	font-size: 110%;
	margin-bottom: 4px;
	margin-top: 12px;
}

h3 {
	font-size: 100%;
}

p {
	text-indent: 0px;
}

.system_name {
	display:none;
}

.warn-content:before,
.warn-content:after {
	content:''
}