body {
	background-image: url("./back.png");
	font-family: "UD Shin Go NT Light JIS2004","UD デジタル 教科書体 N-B", Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
	color: #303030;
}

header {
	border-bottom: 3px #303030 dotted;
}

footer {
	border-top: 1px #303030 solid;
}

body > * {
	width:90%;
	margin:auto;
}

em {
	color: black;
	font-size: 110%;
	font-style: oblique;
}

strong {
	color: black;
	font-size: 120%;
}

h1,h2,h3 {
	color: black;
}

h1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	margin-top: 20px;
}

#schedule > h3:before,
#rule h3:before {
	content: '●'
}

.schedule_date{
	text-indent:0px;
	padding-left: 1em;
}

.rown {
	display: inline-block;
	transform: rotate(90deg);
}

.relationship {
	padding: 8px;
}

h3 {
	margin-bottom: 4px;
}

p {
	line-height: 0.95em;
	text-indent: 1em;
}

.regulation-rulebooks {
	margin-top: 8px;
	margin-bottom: 8px;
	border-collapse: collapse;
	margin-left:3ex;
}

.regulation-rulebooks td {
	padding: 8px;
}

.title-item-list {
	list-style-type: none;
	position: relative;
	left: -3ex;
}

.title-item-list > li {
	position: relative;
	margin-bottom: 4px;
}

.title-item-list-title {
	background-color: #E0E0E0;
	padding-left: 1em;
	padding-right: 1em;
}

.title-item-list > li > ul {
	list-style-type: none;
	position: relative;
	left: -2ex;
	width: 100%;
	background-image: url("./back.png");
}

.head {
	text-indent: 0px;
}

.warn-content,
.warn-title,
.warn-simple {
	color: #bf0000;
	margin-top: 0px;
	margin-bottom: 0px;
}

.warn-title:before,
.warn-title:after {
	content: '◆'
}

.warn-content:before,
.warn-content:after {
	content:'☠'
}

.recomends > p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.list-header {
	padding-top:2px;
	margin-left: 1em;
}

.list-header:before {
	content: '（'
}
.list-header:after {
	content:'）'
}

.list-content {
	margin-top: 0px;
	margin-bottom: 4px;
	list-style-type: none;
	position: relative;
	left: -1ex;
	padding-bottom: 4px;
}

footer {
	margin-top: 28px;
	font-size: 70%;
}

